name: CI

on:
  push:
  pull_request:

jobs:
  proto:
    name: Proto Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Lint and Format
        run: nix develop --command bash -c "buf lint proto && buf format proto --diff --exit-code"

  client:
    name: Client CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('client/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Dependencies
        run: nix develop --command bash -c "cd client && npm ci"
      - name: Generate
        run: nix develop --command bash -c "cd client && npm run generate"
      - name: Build
        run: nix develop --command bash -c "cd client && npm run build"

  server:
    name: Server CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            server/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      
      - name: Check Formatting
        run: nix develop --command bash -c "cd server && cargo fmt --all -- --check"
        continue-on-error: true
      
      - name: Lint
        run: nix develop --command bash -c "cd server && cargo clippy -- -D warnings"
        continue-on-error: true
        
      - name: Build
        run: nix develop --command bash -c "cd server && cargo build"
        
      - name: Test
        run: nix develop --command bash -c "cd server && cargo test"
